<section id="one" class="tiles">

    <!-- Governing the Info Commons -->
    <article>
        <span class="image">
            <img src="https://www.glizzan.com/assets/Caio-Resende-chocolates-in-bowl.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="https://www.glizzan.com/2020/03/04/governing-the-information-commons.html" class="link">Governing the Information Commons</a></h3>
        </header>
    </article>

    <article>
        <span class="image">
            <img src="https://www.glizzan.com/assets/kybern/group_landing.png" alt="" />
        </span>
        <header class="major">
            <h3><a href="https://www.glizzan.com/governance/projects/2020/09/08/a-sneak-peak-at-kybern.html" class="link">Kybern: a platform for digital governance</a></h3>
            <p>{{ tile.description }}</p>
        </header>
    </article>

</section>